label {
    margin-top: 50px;
    font-size: 23px;
    font-weight: 700;
}


//heftenin gunleri olanin on hisesi uzde olan yeni onun scss'i
.on_esas {
    text-align: center;
    margin-top: 8px;
    width: 888px;
    height: 70px;
    display: flex;
    border-radius: 13px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;

    .left {
        display: flex;
        
        & > span{
            margin-top: 10px;
            margin-left: 8px;
            font-size: 20px;
            font-weight: 500;
        }

        & > img {
            width: 50px;
            height: 50px;
        }
    }

    .right{

        & > span{
            margin-left: 14px;
            font-size: 20px;
            font-weight: 500;
        } 
    }
}
//-------------------------------------------------------
//Alt panel yeni heftenin gunlerine click etdiyimiz zaman
//olanin scss'i

.panel{
    margin-left: 20px;
    width: 880px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    .panel_left{
        width: 50%;
        height: 100%;
        
        & > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;

            & > span{
                font-size: 16px;
                font-weight: 400;
            }
        }
        margin-right: 16px;
        border-right: 1px solid black;
    }

    .panel_right{
        width: 50%;
        height: 100%;

        & > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;

            & > span{
                font-size: 16px;
                font-weight: 400;
            }
        }
        border-left: 1px solid black;
    }    
}